@media only screen and (max-width: 768px) {
  .sidebar-header {
    margin-top: 4rem;
  }

  .logo {
    padding: 0rem 3rem 0 1.5rem;
  }

  .review-container .review {
    height: 60%;
  }

  .review .img-container::after {
    left: 20%;
  }

  .faqSection{
    width: 80%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
  .logo {
    width: 6rem;
    padding-left: 1.5rem;
  }

  .review-container .review {
    height: 60%;
  }

  .review .img-container::after {
    left: 25%;
  }

  .faqSection{
    width: 70%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .logo {
    width: 7rem;
  }

  .review-container .review {
    height: 55%;
  }

  .review .img-container::after {
    left: 30%;
  }

  .faqSection{
    width: 70%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .logo {
    width: 7.5rem;
  }

  .review .img-container::after {
    left: 35%;
  }

  .faqSection{
    width: 60%;
  }
}
